*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-image: url('https://image.freepik.com/vector-gratis/fondo-hexagonal-oscuro-color-degradado_79603-1409.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.pantalla1{
    width: 400px;
    text-align: center;
    background: #243030000;
    padding: 20px;
    margin: auto;
    margin-top: 175px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 3px 3px 20px rgb(87, 83, 83);
}
.pantalla1 h2{
    width: 100%;
    padding: 10px;
    font-family: 'calibri';
    font-size: 40px;
    color: rgb(171, 228, 17);
}
.pantalla1 h4{
    width: 100%;
    padding: 10px;
    font-family: 'calibri';
    font-size: 25px;
    color: rgb(51, 216, 106);
}
.pantalla1 .boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.pantalla1 .boton:hover{
    cursor: pointer;
}