* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://lh6.googleusercontent.com/proxy/PcnNzf5V_w0rHoqHBNlIT5Fm4C3FffyAh3fwvMtZcCnNYCq9q5jwWXpFSJKLS6wfBFQnn7c1Es1RfZabpqYQwxbyYM3Zvx8ELbGLKe8d5r0TcGBfKP-924RvYA=w680");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.pantalla1 {
    width: 400px;
    background: #30353b2c;
    padding: 30px;
    margin: auto;
    margin-top: 175px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.pantalla1 h2 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.pantalla1 h4 {
    font-size: 20px;
    margin-right: 20px;
}
.imagen{
    float: left;
    margin-right: 5px;
    margin-left: 75px;
}
.pantalla1 .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.pantalla1 .boton:hover {
    cursor: pointer;
}

@media (max-width:480px) {
    .pantalla1 {
        width: 100%;
    }
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    background: rgba(0, 0, 0, 0, 4);
    margin-top: 20px;
}

.sonidos {
    width: 0px;
    padding: 40px;
    background: #00000000;
    padding: 0px;
    font-family: 'calibri';
    color: white;
}

.despedida {
    display: none;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 175px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 20px 5px 100px #000;
}

.despedida h4 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.despedida .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.despedida h4 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.despedida .boton:hover {
    cursor: pointer;
}
.imagen2 {
    float: left;
    margin-right: 5px;
    margin-left: 75px;
}
.titulo {
    color: white;
}

.contenido {
    color: whitesmoke;
}